 /** Login Styles */
 body {
  font-family: 'Niramit', sans-serif; 
}

.c-btn-bg { 
  background: linear-gradient(105.18deg, #08833A -7.85%, #07923F 48.46%, #025122 96.15%);
   color: white;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  color: #fff;
}

a:hover{
  text-decoration: none;
}
/** Login Styles End */

/** SideBar Styles Start */
.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  float: left;
  width: 220px;
  height: 100vh;
  background: #025122;
    color: white;
    padding: 10px;
    position: fixed;
}

.main-content {
  
  margin-left: 220px;
}

.top-nav {
  
}

.navbar {
  padding: 2px;
  padding-left: 220px;
  height: 50px;
}
.comp-info {
  margin-left: 190px;
}
.c-li {
  background-color: #08833A;
  border-radius: 8px;
  width: 102px;
  height: 72px;
  font-size: 14px;
  padding: 5px;
}

.c1 {
  border-left: 4px solid yellow;
}

.c2 {
  border-left: 4px solid blue;
}

.c3 {
  border-left: 4px solid green;
}

.c4 {
  border-left: 4px solid red;
}

.page-link {
  color: green !important;
}

.c-btn-bg2 { 
  background: linear-gradient(105.18deg, #08833A -7.85%, #07923F 48.46%, #025122 96.15%);
  width: 150px;
  color: #fff;
  padding: 10px;
}

.form-control {
  height: 50px !important;
}

/** ONBOARDING STYLES */
/*form styles*/
.admin-content {
  padding-left: 130px;
  width: 100%;
  height: 100%;
}

.company-reg {
  
}

.card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: none;
}

.cusRow {
  margin-top: 40px;
}

.cus-info {
  margin-left: 205px;
}

.chart {
  background-color: #DAE1E7!important;
  color: green;
  font-size: 12px;
  padding: 5px;
  width: 40px;
  margin-left: 90px;
}

.c-btn-bg-3 {
  background: radial-gradient(103.45px at 43.16% 50%, #FFB41D 0%, #EF8D13 100%);
    border-radius: 4px;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838; 
    border-color: #FFB41D; 
}

.dash {
   background-image: url("/images/Vector.png");
   background-repeat:  no-repeat;
   background-position: right -18px bottom -15px;
}

.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #FFB41D;
    border-color: #FFB41D;
}

.c-btn-bg4{
    background: linear-gradient(105.18deg, #08833A -7.85%, #07923F 48.46%, #025122 96.15%);
    color: #fff;
    padding: 10px 25px;
    margin-top: 78px;
}

.btn1 {
  background: radial-gradient(103.45px at 43.16% 50%, #FFB41D 0%, #EF8D13 100%);
   border-radius: 4px;
}

.btn2 {
  background: #14E836;
    border-radius: 5px;
}

.btn3 {
  background: #E9281C;
    border-radius: 5px;
}

.card-custom-body {
   background-image: url("/images/cardsbg.png");
   background-repeat:  repeat-x;
   background-size: contain;
   background-position:  right 3px bottom 0px;
}

.sidebar2 {
  left: 0;
  width: 220px;
  height: 100vh;
  background: #025122;
    color: white;
    padding: 10px;
    position: fixed;
}

.main-content2 {
  width: 900px;
  margin-left: 225px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px; 
    margin-left: 0px;
}

.new-btn {
  width: 98px;
  height: 40px;
  background: #EFC237;
  border-radius: 5px;
  color: #fff;
}

.new-btn2 {
  width: 98px;
  height: 40px;
  background: #FF531D;
  border-radius: 5px;
  color: #fff;
}

.custom-col {
  background: #FFFFFF;
  border: 1px solid rgba(236, 248, 235, 0.18);
  box-shadow: 0px 4px 18px rgba(72, 89, 102, 0.06);
  border-radius: 10px;
  width: 566px;
    height: 248px;
}

.custom-chart {
  width: 264px;
  height: 538px;
  background: #FFFFFF;
  border: 1px solid rgba(236, 248, 235, 0.18);
  box-shadow: 0px 4px 18px rgba(72, 89, 102, 0.06);
  border-radius: 10px;
}

#circle {
  width: 110%;
  height: 50%;
  padding: 5px; 
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  margin-bottom: 15px;
}

.new-btn3 {
  width: 264px;
  height: 48px;
  background: linear-gradient(99.78deg, #FFB41D -7.85%, #F28E12 48.46%, #C8670D 96.15%);
    border-radius: 4px;
  color: #fff;
  
}

.sc-btn {
  margin-left: 900px;
  width: 164px;
  height: 48px;
  background: linear-gradient(99.78deg, #FFB41D -7.85%, #F28E12 48.46%, #C8670D 96.15%);
    border-radius: 4px;
  color: #fff;
}