 /** Login Styles */
 body {
  font-family: 'Niramit', sans-serif; 
}

/** SideBar Styles Start */
.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
	float: left;
	width: 220px;
	height: 100vh;
	background: #025122;
    color: white;
    padding: 10px;
    position: fixed;
}

.main-content {
	width: 100%;
}

.top-nav {
  
}

.navbar {
	padding: 2px;
	padding-left: 220px;
	height: 50px;
}
.comp-info {
	margin-left: 190px;
}
.c-li {
	background-color: #08833A;
	border-radius: 8px;
	width: 102px;
	height: 72px;
	font-size: 14px;
	padding: 5px;
}

.c1 {
	border-left: 4px solid yellow;
}

.c2 {
	border-left: 4px solid blue;
}

.c3 {
	border-left: 4px solid green;
}

.c4 {
	border-left: 4px solid red;
}

.page-link {
	color: green !important;
}

.c-btn-bg2 { 
  background: linear-gradient(105.18deg, #08833A -7.85%, #07923F 48.46%, #025122 96.15%);
  width: 150px;
  color: #fff;
  padding: 10px;
}

.form-control {
	height: 50px !important;
}

/** ONBOARDING STYLES */
/*form styles*/
.admin-content {
	padding-left: 130px;
	width: 100%;
	height: 100%;
}

.company-reg {
	
}